<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div id="user_action_needed">
    <div style="height:300px;" class="panel panel-default">
      <div class="panel-heading">
        <h3 style="margin-bottom:0;" class="text-center">Needs Action: <%= @user_action_needed.count %></h3>
      </div>
      <div class="panel-body">
        <div style="margin-top:0;" class="notes">
          <ul class="list-unstyled">
            <% @user_action_needed.each do |note| %>
              <li>
                <%= render '/shared/note_template', note: note %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>