<% if !@user_activity_feed.empty? %>
  <h3 class='mt-4'>Activity Feed</h3>
  <div class="card">
    <div class="card-block" id="inner-content-div">
     <% @user_activity_feed.each do |xp|%>
       <p>
        <em>Added:</em> <%= xp.experience.name %> for
        <strong><%= link_to "#{xp.student.full_name}", xp.student %></strong>
        <%= time_ago_in_words(xp.updated_at) %> ago
       </p>
     <% end %>
    </div>
  </div>
<% end %>
