<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div id="user_action_needed">
    <h3 class="text-center">Needs Action: <%= @user_action_needed.count %></h3>
    <div class="notes">
      <ul class="list-unstyled">
        <% @user_action_needed.includes(:notable).each do |note| %>
          <li>
            <%= render '/shared/note_template', note: note %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>