<div class="attendance_grades_buttons">
	<p>
	  <%= link_to "Take Attendance", { :controller => "experience_points", :action => "new", :attendance => "2" }, { :class => "m-btn blue" } %>
	  <%= link_to "Record Homework Scores", { :controller => "experience_points", :action => "new", :homework => "1" }, { :class => "m-btn purple" } %>
	</p>
</div>