<% unless !class_session.in_session? %>
  <hr>
  <div class="attendance_grades_buttons">
    <%= link_to "End Class", { :controller => "class_sessions", :action => "end_class", :method => "post"}, { :class => "btn btn-danger" } %>
    <%= link_to "Take Attendance", "#attendanceModal", data: {toggle: :modal}, id: "attendacemodalbutton", class: "btn btn-primary"%>
    <%= link_to "Student Stats", "#studentStatsModal", data: {toggle: :modal}, class: "btn btn-default", id: "studentStatsModalButton"%>
    <%= link_to "Record Homework Scores", { :controller => "experience_points", :action => "new", :homework => "1" }, { :class => "btn btn-black" } %>
  </div>
<% end %>
 <!--  <%# link_to "Add Grades", "#gradesModal", data: {toggle: :modal}, class: "m-btn", id: "gradesModalButton"%> -->