<div id="studentStatsModal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style='padding-bottom:20px'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">So this is what hard work looks like!</h3>
  </div>
  <div class="modal-body-stats">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Total XP</th>
          <th>Total Credits</th>
        </tr>
      </thead>
      <tbody>
      <% if class_session.students == [] %>
        There are no students added to this class.
      <% else %>
        <% class_session.students.each do |student_id| %>
        <% @student = Student.find(student_id)%>
        <tr>
          <td><%= @student.full_name %></td>
          <td><%= @student.xp_total %></td>
          <td><%= @student.credits %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>