<h3>Opportunity Management</h3>
<p>
  <%= link_to "New Opportunity", "#opportunityModal", data: {toggle: :modal}, class: "btn btn-md btn-success", id: "opportunityModalButton" %>
</p>
<br>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="opportunities_by_status">
      <div class="well well-lg">
        <h4><u>Interested</u></h4>
        <ul>
          <% current_user.location.opportunities.includes(:student, :user).where(status: 0).each do |opp| %>
            <%= render '/shared/lead_group', opportunity: opp %>
          <% end %>
        </ul></br>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="stage_droppable">
      <%= render 'droppable_stages' %>
    </div><!-- /#stage_droppable -->
  </div><!-- /.span4 -->
</div><!-- /.row -->

<%= render 'lead_modal' %>