<h3>Lead Management</h3>
<p><%= link_to "New Lead", "#leadModal", data: {toggle: :modal}, class: "btn btn-md btn-success" %></p>
<br>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="stage_list">
      <div class="well well-lg">
        <h4><u>New</u></h4>
        <ul>
          <% current_user.location.leads.includes(:stage).where("stage_id = ?", 6).each do |lead| %>
            <%= render '/shared/lead_group', lead: lead %>
          <% end %>
        </ul></br>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="stage_droppable">
      <%= render 'droppable_stages' %>
    </div><!-- /#stage_droppable -->
  </div><!-- /.span4 -->
</div><!-- /.row -->

<%= render 'lead_modal' %>