<div class="well well-small">
    <center>
      <h1>MPA | App</h1>

      <h2>
        <a href="http://mathplusacademy.com/">Math Plus Academy</a>
      </h2>

      <%= link_to "Login", new_user_session_path,
                                  class: "btn btn-success btn-primary" %>
    </center>
 </div>