<% unless @student_restart.empty? && @student_return.empty? %>
  <h3>On Hold</h3>
<% end %>

<% unless @student_restart.empty? %>
  <h4>Students with billing restarting: </h4>
  <% @student_restart.each do |restart| %>
  <p><%= link_to restart.full_name, restart %> -
    <%= restart.restart_date.strftime("%D") %></p>
  <% end %>
<% end %>

<% unless @student_return.empty? %>
<h4>Students possibly returning:</h4>
  <% @student_return.each do |ret| %>
  <p><%= link_to ret.full_name, ret %> -
    <%= ret.return_date.strftime("%D") %></p>
  <% end %>
<% end %>
