<div class="accordion" id="accordion2">
  <% @user.students.each do |student| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=student.id.humanize.capitalize%>">
        <%= student.full_name %>
      </a>
    </div>
    <div id="collapse<%=student.id.humanize.capitalize%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class= "table table-striped table-hover table-bordered">
          <tr>
            <th>Classes</th>
          </tr>
            <% student.offerings.each do |offering| %>
          <tr>
            <td><%= link_to offering.offering_name, offering %></td>
          </tr>
      <% end %>
        </table>
      </div>
    </div>
  </div>  
    <% end %>  
</div>