<div class="row">
  <div style="margin-bottom:20px;" class="col-lg-6 col-md-12 col-sm-12 col-sm-12 text-center">
    <%= image_tag("badge_poster.jpg", width: "550", class: "hidden-sm hidden-xs") %>
    <%= image_tag("badge_poster.jpg", width: "360", class: "hidden-md hidden-lg") %>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12 badge_home_text">
    <p>
      We measure the success of our programs by the engagement of our students.
    </p>
    <p>
     We know we’ve succeeded when a parent tells us their child is doing math just for fun in their spare time. That’s a huge victory!
    </p>
    <p>
      People who achieve great things have one thing in common, a passion for what they do. We want to foster that kind of passion in our students.
    </p>
    <p>
      To aid in that process, we are rolling out a badge system which will encourage student to go above and beyond.
    </p>
    <p>
      They will receive recognition for excelling in school, activities at home, and even participating in hobbies or clubs outside of school.
    </p>
    <div class="text-center">
      <%= link_to("#badge_information", id: "badge_information_link") do %>
        <h1>more information</h1>
        <i class="fa fa-chevron-down fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>
<hr class="thick_hr">
<div id="earn_badges" class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="text-center">
        <h1 class="badge_information_header_text">Ways to Earn Badges</h1>
    </div>
  </div>
</div>

<%= render 'badge_categories/names_and_samples' %>
