
<div class="text-center mt-5">
  <h1 class="mb-3">Your request has been received!</h1>
  <p class="mb-5">
    Thank you and feel free to call us at (614) 792-6284 with any issues.
  </p>

  <hr>

  <h2 class="mt-5 mb-3">Do you follow us on Facebook or Twitter? Why not?!</h2>
  <p class="mb-3">We post fun stuff, information about our programs, and ways to save on Math Plus Programs.</p>
  <p class="mb-5">
    <div class="fb-follow" data-href="https://www.facebook.com/mathplusacademy" data-colorscheme="light" data-layout="standard" data-show-faces="false"></div>
    <a href="https://twitter.com/mathplusacademy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @mathplusacademy</a>
  </p>
</div>
