<% if current_user.admin? %>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">
      <%= link_to "Edit", edit_badge_module_path(@badge_module), class: "btn btn-secondary pull-right" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <h1><%= @badge_module.name %></h1>
    <h2><%= @badge_module.badge_category.name %></h2>
  </div>
</div>

<hr style='margin:30px 0 30px 0;'>

<% if @badge_module.badges %>
  <% badges_count = @badge_module.badges.count %>
  <% @badge_module.badges.order(:id).each_with_index do |badge, i| %>
    <% if i % 2 == 0 %>
      <div class="row">
    <% end %>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <%= render 'badges/badge_card', b: badge %>
      </div>
    <% if i % 2 == 1 || i+1 == badges_count %>
      </div>
    <% end %>
  <% end %>
<% end %>
