  <h2>Class Roster</h2>
<table class= "table table-striped table-hover table-bordered">
  <tr>
    <th>Student</th>
    <th>Parent</th>
  </tr>

<% @offering.students.where("status = ? OR status = ? OR start_date >= ?", "Active", "Hold", Date.today).order("status asc").each do |student| %>
  <tr>
    <td><%= link_to student.full_name, student %></td>
    <td><% if student.user %><%= link_to student.user.email, student.user %><% end %></td>
  </tr>
<% end %>
</table>
