  <h2>Class Roster</h2>
<table class= "table table-striped table-hover table-bordered">
  <tr>
    <th></th>
    <th>Student</th>
    <th>Parent</th>
    <th>Status</th>
  </tr>

<% @offering.registrations.where("status = ? OR status = ? OR status = ? OR start_date >= ?", "0", "1", "2", Date.today).order("status asc").each_with_index do |registration, i| %>
  <tr>
    <td style="width: 40px;" class="text-center">
      <%= "#{ i + 1 }." %>
    </td>
    <td>
      <%= link_to registration.student.full_name, registration.student %>
    </td>
    <td>
      <% if registration.student.user %>
        <%= link_to registration.student.user.email, registration.student.user %>
      <% end %>
    </td>
    <td>
      <%= registration_status(registration).html_safe %>
    </td>
  </tr>
<% end %>
</table>
