<ul>
  <% occupation.occupation_levels.order(:level).each do |level|  %>
  <li class="well">
    <div class="row">
      <div class="col-lg-3">
         <%= image_tag(level.image_url, size: "100x100") if level.image? %>
       </div>
      <div class="col-lg-9">
         <h1 style="margin:5px 0 5px 0;">Level <%= level.level %></h1>
         XP: <%= level.points %></br>
         <b>Reward:</b> <%= level.rewards %>
       </div>
     </div>
  </li>
  <% end %>
</ul>