<div class="card card-default">
  <div class="card-header">
    <h3 style="display:inline;" class="card-title">HW Help Sessions
  </div>
  <div class="card-block"
  style="p-4 15px;max-height:400px;overflow:scroll;">
    <!-- displays note form and notes for student -->
    <% if @student.help_session_records.any? %>
      <% @student.help_session_records.order('created_at DESC').each do |help_session| %>
        <%= render 'help_session_card', help_session: help_session %>
      <% end %>
    <% else %>
      <h3 class="text-center card-title text-muted mt-3">
        No help sessions <recorded class=""></recorded>
      </h3>
    <% end %>
  </div>
</div>
