<% @occupations.each do |occupation| %>
<div class="modal fade" id="<%= occupation.title.downcase %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <%= render '/occupations/occupations_levels', occupation: occupation %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>

