<% @occupations.each do |occupation| %>
  <div id="<%= occupation.title.downcase %>Modal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
       <%= render '/occupations/occupations_levels', occupation: occupation %>
    </div>
  </div>
<% end %>