<div id="student">
  <div class="studentinfo">
    <div class="row">

      <%= render 'student_info' %>

      <%= render 'student_occupations' %>

    </div><!--/.row -->
  </div><!--/.studentinfo -->
</div><!--/#student -->