<div class="text-center student-occupations col-lg-9 col-md-12 col-sm-12 col-xs-12">

  <!-- Mathematics student information -->
  <% if @student.is_mathematician? %>
    <%= render 'occupation_stats', occupation: "mathematician" %>
  <% end %>

  <!-- Engineering student information -->
  <% if @student.is_engineer? %>
    <%= render 'occupation_stats', occupation: "engineer" %>
  <% end %>

  <!-- Programming student information -->
  <% if @student.is_programmer? %>
    <%= render 'occupation_stats', occupation: "programmer" %>
  <% end %>

  <%= render 'student_toolbar' %>

</div><!--/.span9 -->