<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3 style="display:inline;">Classes:</h3><%= link_to "Add Class", new_registration_url(student_id: @student.id), class: "btn btn-xs btn-success pull-right" %>
		<hr>
		<% @student.registrations.includes(:offering, :course).where(status: 0..2).each do |reg| %>
		    <%= render 'student_registration_card', reg: reg, student: @student %>
		<% end %>
	</div>
</div>
<hr>
<% if current_user && current_user.employee? %>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3 style="display:inline;">Opportunities:</h3><%= link_to "New Opportunity", new_opportunity_path, class: "btn btn-xs btn-success pull-right" %>

			<hr>

			<% @student_opportunities.where(status: 0..6).each do |opp| %>
				<%= render '/shared/opportunity_card', opportunity: opp %>
			<% end %>
		</div>
	</div>
<% end %>