<h1>You're issue has been closed!</h1>
<p>
  Please review the updates to ensure that the proper changes were made. If you've submitted
  multiple issues please see below for information on what issue was resolved.
</p>

<p>
  <u><%= @issue.name %></u>
</p>

<p>
  <%= @issue.summary %>
</p>
