<h1>You've received an issue!</h1>
<p>
  Submitted by: <%= @user.full_name %>
</p>

<p>
  <u><%= @issue.name %></u>
</p>

<p>
  <%= @issue.summary %>
</p>

<p>
  Priority Level: <%= Issue::PRIORITY_LEVELS[@issue.priority.to_i] %>
</p>
