<h1>Badge FAQs</h1>
<h3>What is the Badge Program?</h3>
<p>
  The Math Plus Academy Badge Program was created to push students to go above and beyond.
  Just doing things because they are required in school doesn't help to instill any
  real love for learning. High marks in school only results in high marks, there are no incentives outside of getting good grades.
</p>
<p>
  We're seeking to create a program and culture that encourages student's to learn for the sake of learning. The Badge Program allows students to receive credit and recognition for tasks outside their normal scope of learning and provide a forum to tackle challenges they might not otherwise face.
</p>
<h3>Can badges be earned multiple times?</h3>
<p>
  Yes! A number of the in-class badges can be earned multiple times. Most of the badges, however, cannot be earned more than once. For example, if a student watches a movie and completes a write up they are only able to earn a badge for that movie once.
</p>
<h3>What is a write up?</h3>
<p>
  A write up is a paragraph or two that summarizes what the student did to acheive the badge. The student should complete the write up and it can be submited when a parent logs in to the app. Each badge has a few sample questions to help guide the student in completing a write up. <u>The write up should not be limited to the questions provided.</u> The student should be encouraged to think outside the questions and elaborate on why they thought the task was important. Below are badge categories for which any badge in that category requires a write up:
  <ul>
    <li>Projects</li>
    <li>Movies</li>
    <li>Problems</li>
    <li>Code Challenges</li>
    <li>Research</li>
  </ul>
</p>
<h3>Where can I find information on individial badges?</h3>
