<h3>Camp Roster</h3>
<% @result = Infusionsoft.data_find_by_field('ContactGroupAssign', 10, 0, :GroupId, '1518', [:GroupId, :ContactId, :ContactGroup]) %>
<table class="table table-striped table-bordered table-sm">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<% @result.each do |i| %>
			<% contact = Infusionsoft.contact_load(i["ContactId"], [:FirstName, :LastName]) %>
			<tr>
				<td><%= contact["FirstName"] %></td>
				<td><%= contact["LastName"] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= @tag = Infusionsoft.data_find_by_field('ContactGroup', 10, 0, :Id, '1518', [:GroupName, :GroupCategoryId]) %>