<% if @user.role  == "Parent" %>
  <% if @user.infusion_id != nil %>
  <p>
    <strong>Infusionsoft Id:</strong>
    <%= @user.infusion_id %>
  </p>
  <% else %>
    <p>
      <strong>Infusionsoft Id is Undefined</strong>
    </p>
  <% end %>
<% end %>