<% if @user.role  == "Parent" %>
  <% if @user.infusion_id != nil %>
  <p>
    <b>Infusionsoft Id:</b>
    <%= @user.infusion_id %>
  </p>
  <% else %>
    <p>
      <b>Infusionsoft Id is Undefined</b>
    </p>
  <% end %>
<% end %>