<% if @user.role  == "Parent" %>
  <b><%= "Student".pluralize(@user.students.count) %>/offering:</b>
  <p>
    <% @user.students.each do |student| %>
      <h4> <%= link_to student.full_name, student %></h4>
      <% student.offerings.each do |offering| %>
        <p><%= link_to offering.offering_name, offering %></p>
      <% end %>
    <% end %>
  </p>
<% end %>