<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="display:inline;" class="panel-title">Students</h3>
    <%= link_to "Add Student", "javascript:void(0)", data: { toggle: "modal", target: "#newStudentUserModal" }, class: "pull-right" if current_user.admin? %>
  </div>
  <div class="panel-body">
    <!-- displays each student for user -->
    <%= render 'parents_students' %>
  </div>
</div>