<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="display:inline;" class="panel-title">Billing Information</h3>
    <span class="pull-right">
      <%= link_to 'Update in Infusionsoft', infusion_pages_edit_path(ContactId: @user.infusion_id) if @user.infusion_id != nil %> |
      <%= link_to 'Invoices & Subscriptions', infusion_pages_subscription_path(ContactId: @user.infusion_id) if @user.infusion_id != nil %>
    </span>
  </div>
  <div class="panel-body">
    <%= render 'billing_information' %>
    <% if current_user.admin? %>
      <% if @user.role == "Parent" && @user.infusion_id != nil %>
        <%= render 'billing' %>
      <% end %>
    <% end %>
  </div>
</div>