<% unless @student || @lead %>
  <ul class="list-unstyled">
    <% @user.notes.includes(:user).order("created_at DESC").each do |note| %>
      <li>
        <div class="well well-sm">
          <p>
            "<%= note.content %>"
          </p>
          <p class="text-right">
            <%= note.user.full_name%> (<%= note.created_at.strftime("%B %d, %Y")%>)
          </p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
