<div class="pull-right">
  <%= form_tag root_path, :method => 'get', :id => "users_search" do %>
    <%= hidden_field_tag :search, '' %>
      <%= button_tag(type: "submit", class: "btn btn-small btn-danger") do %>
        Reset Search <i class="icon-remove icon-white"></i>
    <% end %>
  <% end %>
</div>