<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @learning_plan_issue.title %>
</p>

<%= link_to 'Edit', edit_learning_plan_issue_path(@learning_plan_issue) %> |
<%= link_to 'Back', learning_plan_issues_path %>
