<div id="earn_badges" class="row">
  <div class="col-sm-12">
    <div class="text-center">
        <h1 class="badge_information_header_text">Earn badges when you...</h1>
    </div>
  </div>
</div>

<%= render 'names_and_samples' %>
