<h1>Operations Pages</h1>
<p>
  This page exists a resource to all things MPA. On this page you will find links
  to pages containing information on how do just about anything related to MPA's app
  and other Operations related tasks.
</p>
<hr>
<ul>
    <li><%= link_to "Trial Applet", operations_pages_trial_applet_path %></li>
    <li><%= link_to "Creating an Opportunity", operations_pages_creating_an_opportunity_path %></li>
</ul>
