<div class="modal fade" data-backdrop="static" data-keyboard="false" id="oppUpdateStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select New Status</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@opportunity) do |f| %>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <%= f.input :status, collection: Opportunity::STATUSES.zip((0..6).to_a) %>
              <%= f.button :submit, class: "pull-right btn btn-lg btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
