<div class="card card-default">
  <!-- Default card contents -->
  <div class="card-header">The student you've named might match one of these.</div>
  <div class="card-block">
    <p>
      If you see a record that matches click "Link". This will link this student to the current opportunity. If you do not see a match head to the bottom and click "No Match".
    </p>
  </div>
  <!-- Table -->
  <table class="table" id="student_lookup_table" data-opportunityId = <%= @opportunity.id  %> data-userid = <%= @user.id if @user %>>
   <tr>
    <th>Name</th>
    <th></th>
   </tr>
   <% @possible_students.each do |student| %>
     <tr>
      <td><%= student.full_name %></td>
      <td><%= link_to "Link", {controller: :opportunities, action: :add_student, student_id: student.id, id: @opportunity.id}, id: "addStudent#{student.id}", confirm: "Are you sure you want to add #{student.full_name} to this opportunity?", remote: true %></td>
     </tr>
   <% end %>
  </table>
</div>