<% unless @student || @note_user %>
  <ul class="list-unstyled">
    <% @opportunity.notes.order("created_at DESC").each do |note| %>
      <li>
        <%= render '/shared/note_template', note: note %>
      </li>
    <% end %>
  </ul>
<% end %>