<div class="card card-default">
  <!-- Default card contents -->
  <div class="card-header">The parent you've named might match one of these.</div>
  <div class="card-block">
    <p>
      If you see a record that matches click "Link". This will link this parent to the current opportunity. If you do not see a match head to the bottom and click "No Match".
    </p>
  </div>
  <!-- Table -->
  <table class="table" id="parent_lookup_table" data-opportunityId = <%= @opportunity.id %>>
   <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
   </tr>
   <% @possible_users.each do |user| %>
     <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Link", {controller: :opportunities, action: :add_parent, user_id: user.id, id: @opportunity.id}, id: "addParent#{user.id}", confirm: "Are you sure you want to link #{user.full_name} to this opportunity?", remote: true %></td>
     </tr>
   <% end %>
  </table>
</div>