<div class="text-center">
  <h1>Your trial has been scheduled!</h1>
  <p>
    Thank you and feel free to call us at (614) 792-6284 with any issues.
  </p>
  <p style='font-weight:800;'>
    You will be receiving an email confirmation via the email address you provided.
  </p>

  <hr>

  <h2>Do you follow us on Facebook or Twitter? Why not?!</h2>
  <p>We post fun stuff, information about our programs, and ways to save on Math Plus Programs.</p>
  <p>
    <div class="fb-follow" data-href="https://www.facebook.com/mathplusacademy" data-colorscheme="light" data-layout="standard" data-show-faces="false"></div>
    <a href="https://twitter.com/mathplusacademy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @mathplusacademy</a>
  </p>
</div>
