
@import "compass";
@import "jquery.ui.core";
@import "jquery.ui.datepicker";
@import "jquery.ui.menu";
@import "jquery.ui.accordion";
@import "jquery.ui.tooltip";
@import "chosen";
@import "dataTables/jquery.dataTables";
@import "tomorrow";
@import "normalize-rails";
@import "badges";
@import "learning_plans";
@import "locations";
@import "notes";
@import "occupations";
@import "offerings";
@import "resources";
@import "static_pages";
@import "timeline";
@import "enrollment_change_requests";
@import "registrations";
@import "opportunities";
@import "font-awesome";
@import "bootstrap";
@import "bootstrap_and_overrides";

.search-choice-close{
  margin-top: 5px;
}

.tags{
  height: 225px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0 0 0;
}

.cards{
  height: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0 0 0;

  .well-sm{
    padding: 0;

  }
}
