// Student badge styling
.badge1 {
   position:relative;
}

.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  font-size:.7em;
  background:#be3838;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.badge-count {
  position:relative;
  display:inline;
  width:100px;
  height: 100px;
}

.badge-link {
  text-align: center;
  display:inline;
  max-width:100px;
  max-height: 100px;
  word-wrap: break-word;
}

.badge-count[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  right: -1px;
  font-size:1em;
  background:#be3838;
  color:white;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  border-radius:50%;
  box-shadow:0 0 2px #333;
}

// Badge Home Styling

.badge_home_text{
 	font-weight: 300;
 	font-size: 18pt;

 	p:first-child{
 		margin-bottom: 25px;
 	}

 	p:last-child{
 		margin-top: 25px;
 	}

 	p:not(:first-child):not(:last-child){
 		margin: 25px 0 25px 0
 	}
 }

 .badge_information_header_text{
 	font-weight: bold;
 	font-size: 4em;
 	margin:100px 0 100px 0;
 }

 .badge_information_icon{
 	font-size: 15em;
 	margin-top: 10%;
 }


.thick_hr{
		border-top: 9px solid #ccc;
}

.thick_divider{
  border-right: 4.5px solid #ccc;
  border-left: 4.5px solid #ccc;
}

.badge_group_information{
  a{
    color: #262626;
  }
}

.badge_group_information > .row{
  margin: 5px 0 40px;
}

.badge_card{
  h1{
    margin-top: 5px;
    font-weight: 500;
  }
}

.badge_category_header_text{
  margin-bottom: 40px;
  font-weight: 600;
}
