.note{
  border: 1px solid gray;
  padding: 0 10px 10px 10px;
  margin-bottom: 5px;
  width: 100%;
}

.notes{
  height: 255px;
  overflow-y: scroll;
  overflow-x: hidden;

  .card{
    background: #f7f7f9;
  }

  a{
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black
  }
  .well-sm{
    padding: 0;

  }
}
#user_action_needed{
  overflow: hidden;
}
.note_info{
  display: none;
  width: 100%;
  background:#afafaf;
  font-size: 12px;
  padding: 10px 0 10px 0;
  border: 1px solid #9b9b9b;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  div[class^="col-"]{
    padding: 0 5px 0 5px;
  }
}
