// Place all the styles related to the opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opportunity_info{
  display: none;
  background:#afafaf;
  padding: 15px 9px 10px 9px;
  border: 1px solid #9b9b9b;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.opportunity_title{
  .form-control{
    height: 45px;
    font-size: 24px;
  }
}

.opportunity_possible_restart_date{
  display: none;
}

.opportunity_toolbar{
  margin-bottom: 5px;
  background-color: #d3d3d3;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #afafaf;
  border-radius: 3px;
  textarea{
    height:100px;
    width: 300px;
  }
}

.leads{
}

#status_list .well{
  margin-bottom: 10px;
}

.stage_attr{
  .fa{
    margin-top: 3px;
  }
}

.note-button{
  line-height: 4px;
  font-size: 12px;
  width: 45px;
  height: 20px;
  margin-top: 0;
}

.leads.over {
  border: 2px dashed #000;
}

#appointment_scheduled{
  background-color: #99ccff;
}

#appointment_missed{
  background-color: #c1b9ff;
}

#trial{
  background-color: #ffffcc;
}

#interested{
  background-color: #ccffcc;
}

#waitlisted{
  background-color: #ffcccc;
}

.opportunity_group{
  .fa{
    margin-top: 4px;
  }
}