.user_search{
	border-bottom: solid 1px #ddd;
	padding: 5px;
}

.user-info{
	border-right: solid 1px #ebebeb;
	padding: 15px;
}

.user_info_role{
	padding-bottom: 10px
}

.activity_feed{
	border: solid 1px #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	height: 200px;
	overflow: auto;

}

.location-stats{
	background-color: #ededed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.location-name{
	border-bottom: solid 1px #000000;
	padding: 5px;
}

.attendance_grades_buttons{
	padding-bottom: 10px;
}

.nav-font{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}