.welcomescreen{
	background: url('maya.jpg');
	background-position: center;
	background-size: 1000px 667px;
	background-repeat: no-repeat;
	height: 600px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0;
	padding-left: 13%;

	h1{
		font-weight: 200;
	}
}
div.form-group.location_id{
	margin-bottom:0;
}
.home_screen_links{
	border:solide 1px white;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
					border-radius: 3px;
	background-color: rgba(255,255,255,0.7);
	padding:5px 10px 5px 10px;
	display: inline-block;
}

footer{
	margin-top:50px;
}


.user_search{
	padding: 5px;
}

.user-info{
	border-right: solid 1px #ebebeb;
	padding: 15px;
}

.user_info_role{
	padding-bottom: 10px
}

.activity_feed{
	border: solid 1px #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	height: 200px;
	overflow: auto;

}

.location-stats{
	background-color: #ededed;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.location-name{
	border-bottom: solid 1px #000000;
	padding: 5px;
}

.attendance_grades_buttons{
	padding-bottom: 10px;
}

#class_in_session{
	h3{
		margin-top: 0;
	}
	.lesson-section{
		padding:10px;
		margin: 5px;
		background-color: #cccccc;
	}
	.alert{
		margin-bottom: 5px;
	}
}

.nav-font{
	font-family: Arial;
}

.student_attending{
	margin: 5px;
	background-color: #e4e4e4;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-color: #7f7f7f;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid white;
}

.class_offering{
	form{
		display: inline;
		margin: 0;
		.m-btn{
			margin: 0 10px 0 0;
			height: 20px;
		}
	}
	a{
		display: inline;
	}
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.padding{
	padding-right: 10px;
}

.modal-body-stats{
	margin:10px;
}

.modal-body-grades .modal-body-stats{
	max-height: 1000px;
	padding-top: 20px
}

.stages{
	border: solid lightgray 1px;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	.ui-draggable{

	}
}

.fat-menu{
	.m-btn{
		padding: 8px 14px 8px 14px;
	}
}

.inactive{
	background-color: #d74242;
}

.new_students{
	height: 208px;
	max-height: 208px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 20px 0 0 0;
}

.dashboard{
	height: 300px;
}

// Badge Home Styling

.badge_home_text{
 	font-weight: 300;
 	font-size: 18pt;

 	p:first-child{
 		margin-bottom: 25px;
 	}

 	p:last-child{
 		margin-top: 25px;
 	}

 	p:not(:first-child):not(:last-child){
 		margin: 25px 0 25px 0
 	}
 }

 .badge_information_header_text{
 	font-weight: bold;
 	font-size: 4em;
 	margin:100px 0 100px 0;
 }

 .badge_information_icon{
 	font-size: 15em;
 	margin-top: 10%;
 }

 #badge_information{
		hr{
 			border-top: 9px solid #ccc;
		}
 }
