
/* Student Show page */

.studentname{
  padding-right: 20px;
  padding-left: 20px;
  padding-top:4px;
  padding-bottom:10px;
  position: relative;
  border-bottom: solid 1px #afafaf;
}

.paddingtop15{
  padding-top: 15px;
}

.rank{
	padding-top: 15px;
}

.parentinfo{
	padding-top: 1px;
}

.achievements{
	border-left: solid 1px #afafaf;
	padding-left: 40px;
}

.robotics-achievements{
  background-color: #f1f1f1;
  padding-bottom: 40px;
}

.r-achievements{
  margin: 15px;
  padding-left: 10px;
}

.a-achievements{
  margin: 15px;
  padding-left: 5px;
  height: 200px;
  overflow: auto;
}

.student-button{
	padding-bottom: 50px;
}

.studentofferings{
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #cecece;
    border-radius: 5px;
  padding-left: 10px;
  height: 200px;
  overflow: scroll;
}

.achievementcompleted{
  color: #17ce00
}

#student{
  position:relative;
}

#student .buttons{
}

