<div style="margin: 20px 0 30px 0; border-bottom: 1px solid black; padding: 0 15px 20px 15px;text-align:right;">
  <%= link_to "Back To User", @user %>
</div>
<div style="padding:0 80px 0 80px;">
  <%= @email.content.html_safe %>
</div>
