<h2>Today's Assessments</h2>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Day</th>
        <th>Parent</th>
        <th>Time</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
        <% appointments.each do |appointment| %>
          <tr>
            <td>
              <%= appointment.time.strftime("%A") %>
            </td>
            <td>
              <%= appointment.user.full_name %>
            </td>
            <td>
              <%= appointment.time.getlocal.strftime("%I:%M %P") %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
