<div class="modal fade" id="futureAddsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Students With Future Start Date.</h4>
      </div>
      <div class="modal-body text-center">
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Classes</th>
          <th>Start Date</th>
        </tr>
      </thead>
      <tbody>
        <% @location.students.future_adds.uniq.each do |student| %>
          <tr>
            <td><%= student.full_name %><td>
            <td>
              <% student.offerings.includes(:course, :location).each do |offering| %>
                <%= offering.offering_name + " " %>
              <% end %>
            </td>
            <td>
              <%= student.start_date.strftime("%D") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->