<h1>
  Active Registrations in <%= @location.name %>
</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>
        Student
      </th>
      <th>
        Start Date
      </th>
      <th>
        Class
      </th>
    </tr>
  </thead>
  <tbody>
    <% @active_registrations.each do |reg| %>
      <tr>
        <td>
          <%= link_to "#{reg.student.full_name}", reg.student %>
        </td>
        <td>
          <%= reg.start_date.strftime("%D") if reg.start_date %>
        </td>
        <td>
          <%= reg.offering_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
