<footer>
  <hr>
</br>
  <div class="container">
    <p style="text-align:center;">
      <small>
        <strong>
          <a href="http://www.mathplusacademy.com" style="color:#797f87;">
            <%= "#{current_company.name} - " if current_company %>Math Plus Academy
          </a>
        </strong>
      </small>
    </p>
  </div>
</footer>
