<footer>
  <hr>
</br>
  <div class="container">
    <p style="text-align:center;">
      <small>
        <a href="http://www.mathplusacademy.com">Math Plus Academy</a>
      </small>
    </p>
  </div>
</footer>
